---
const today = new Date();
---

<footer class="py-10 text-left text-neutral-400">
	&copy; {today.getFullYear()} <a class="text-blue-500 hover:text-blue-600" href="https://github.com/MetalOoze05/">MetalOoze</a>. All rights reserved.
</footer>
