---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<nav class="pb-10 flex flex-row gap-10">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="https://ayanprkr.vercel.app/">Website</HeaderLink>
		<HeaderLink href="https://www.github.com/MetalOoze05">Github</HeaderLink>
	</nav>
</header>

