---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<nav class="pb-10 flex flex-row gap-10 text-sm">
		<p>blog &dash; ayanprkr</p>
	</nav>
</header>

